<!-- Lets talk about geddy -->
<%- styleLink('/css/auth-buttons.css', {rel:'stylesheet'}) %>


<!--Nav Bar-->
<div class="navbar navbar-fixed-top">
   <div class="navbar-inner">
      <div data-role="header">
         <div data-type="horizontal" data-group="controlgroup" class="ui-btn-left">
            <a href="/" id="back_button" type="submit" type="submit" name="back" value="Back" data-inline="true" data-theme="a" data-role="button">Back</a>
         </div>
         <h1>
            Group Activity Planner
         </h1>
         <div data-type="horizontal" data-group="controlgroup" class="ui-btn-right">
            <!--Login Button-->
            <a href="/login" id="login_button" class="ui-btn-active" type="submit" name="login" value="Login" data-inline="true" data-theme="a" data-role="button">Login</a>
            <!--Add User Button-->
            <a href="/users/add" id="sign_up_button" type="submit" name="signup" value="Sign Up" data-inline="true" data-theme="a" data-role="button">Sign Up</a>
         </div>
      </div>
   </div>
</div>
<div class="hero-unit">
   <p>
   <% if (params.errCode){ %>
      <div class="errorMessage" >
      <% if (params.errCode == 1){ %>
         <p> Account Created Successfully. Please login. </p>
      <% } else if (params.errCode == 5) { %>
         <p> Authentication Failed. Please make sure your username and password are correct and try again. </p>
      <% } %>
      </div>
   <% } %>

   <% if (session.userId){ %>
   <p> session.userId = <%=session.userId%> </p>
   <% } %>
   <form id="login-form" class="form-horizontal" action="/auth/local" method="POST">
      <fieldset>
         <legend>Log In</legend>
         <div class="control-group">
            <label for="username" class="control-label">Username</label>
            <div class="controls">
               <%- contentTag('input', params.username, {type:'text', class:'span6', name:'username'}) %>
            </div>
         </div>
         <div class="control-group">
            <label for="password" class="control-label">Password</label>
            <div class="controls">
               <%- contentTag('input', params.password, {type:'password', class:'span6', name:'password'}) %>
            </div>
         </div>
         <div class="form-actions">
            <%- contentTag('input', 'Submit', {type: 'submit', class: 'btn btn-primary'}) %>
         </div>
      </fieldset>
   </form>
   </p>
   <p style="text-align: center;">
      <!-- <a class="btn-auth btn-twitter large"
         href="<%= geddy.config.fullHostname %>/auth/twitter">
         Log in with Twitter
         </a>
         &nbsp; -->
         <!-- href="<%= geddy.config.fullHostname %>/auth/facebook">  -->
      <a class="btn-auth btn-facebook large" data-ajax="false"
         href="/auth/facebook" data-role="none" onClick="facebookClicked(event);">
         Log in with Facebook
      </a>
   </p>
</div>