<div class="control-group">
  <label for="name" class="control-label">name</label>
  <div class="controls">
    <%- contentTag('input', event.name, {type:'text', class:'span6', name:'name'}) %>
  </div>
</div>
<div class="control-group">
  <label for="description" class="control-label">description</label>
  <div class="controls">
    <%- contentTag('input', event.description, {type:'text', class:'span6', name:'description'}) %>
  </div>
</div>
<div class="control-group">
  <label for="time1" class="control-label">time1</label>
  <div class="controls">
    1
  </div>
</div>
<div class="control-group">
  <label for="time2" class="control-label">time2</label>
  <div class="controls">
    2
  </div>
</div>
<div class="control-group">
  <label for="begindate" class="control-label">begindate</label>
  <div class="controls">
    <%- contentTag('input', event.begindate, {type:'number', class:'span2', name:'begindate'}) %>
  </div>
</div>
<div class="control-group">
  <label for="enddate" class="control-label">enddate</label>
  <div class="controls">
    <%- contentTag('input', event.enddate, {type:'number', class:'span2', name:'enddate'}) %>
  </div>
</div>
<div class="control-group">
  <label for="activityid" class="control-label">activityid</label>
  <div class="controls">
    <%- contentTag('input', event.activityid, {type:'text', class:'span6', name:'activityid'}) %>
  </div>
</div>
<div class="control-group">
  <label for="attendingusers" class="control-label">attendingusers</label>
  <div class="controls">
    <%- contentTag('input', event.attendingusers, {type:'text', class:'span6', name:'attendingusers'}) %>
  </div>
</div>
