<% if(form.type === "find") { %>
  <!--Find Activity Page -->
  <div data-role="page" id="find_activity_page">
<% } %>
<% if(form.type === "create") { %>
  <!--Create Activity Page -->
  <div data-role="page" id="create_activity_page">
<% } %>
  <!--Navigation Bar-->
  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div data-role="header" id="navBarHeader" data-theme="c">
        <div class="header_title">
          Group Activity Planner
        </div>
        <div class="parent_container">
        <div data-type="horizontal" data-group="controlgroup" class="ui-btn-right" id="userButtonsDiv">
          <% if (user) {%>
            <div id="container">
              <div id="welcome_container">
                <div class="welcome_text">Welcome: 
                  <div id="username_container">
                    <a href="/events/myevents">
                      <span class="full_name">
                        <%=user.givenName%> <%=user.familyName%>
                      </span>
                      <span class="badgeContainer">
                        <img src="/img/facebook-blank-photo.jpg" width="25" id="blankPhoto">
                        <span class="badge"></span>
                      </span>
                    </a>
                  </div>
                </div>
              </div>
              <a href="/logout" id="logout_button" target="_parent" type="submit" name="logout" value="Logout" data-inline="true" data-theme="c" data-role="button">Logout</a>
            </div>
            <script type='text/javascript'>
              $('.badge').hide();
              var badgeNum = 0;
              var userName = '<%= user.username %>';
              var pastEventIds = [];

              var href = document.location.protocol + document.location.hostname;
              var socket = io.connect(href);
              var eventName = userName + 'InviteEvent';

              <% if (user.mynotifications) { %>
                badgeNum = <%= user.mynotifications %>;
                if (badgeNum > 0){
                  $('.badge').html(badgeNum);
                  $('.badge').show();
                }
              <% } %>
              socket.on(eventName, function (data) {
                //If on myEvents page, push new event. 
                var path = window.location.pathname;
                if (path == '/events/myevents'){
                  if (data && data.eventId){
                    $.ajax({
                        type: 'GET',
                        url: '/events/getevent',
                        data: {eventId: data.eventId},
                        contentType: "application/json",
                        dataType: "json",
                        success: function(respData) {
                          addMyEvents([respData.event], "current", true /*shouldPrepend*/);

                          // Reset the notification number
                          $('.badge').hide();
                        },
                        failure: function(err) {
                          console.log('Failure');
                        }
                    });
                  }
                } else {
                  //Otherwise update badge

                  // Catch duplicate event emits
                  if ($.inArray(data.eventId, pastEventIds) === -1) {
                    pastEventIds.push(data.eventId);
                    badgeNum += 1;
                  }

                  $('.badge').html(badgeNum);
                  $('.badge').show();
                }
              });
            </script>
          <% } else { %>
            <a href="/login" id="login_button" target="_parent" type="submit" name="login" value="Login" data-inline="true" data-theme="a" data-role="button">Login</a>
            <a href="/users/add" id="sign_up_button" target="_parent" type="submit" name="signup" value="Sign Up" data-inline="true" data-theme="a" data-role="button">Sign Up</a>
          <% } %>
        </div>
        </div>
      </div>
    </div>
  </div>

<% if(form.type === "find") { %>
  <div id="find_activity" class="box" data-role="content">
<% } %>
<% if(form.type === "create") { %>
  <div id="create_activity" class="box" data-role="content">
<% } %>
    <div id="message_box" class="message"></div>
    <form>
      <div>
        <center>
          <div data-role="controlgroup" data-type="horizontal" data-mini="true">
            <!--Find Activity Button-->
            <% if(form.type === "find") { %>
              <!-- display activity created successfully when redirected -->
              <% if (params.errCode){ %>
                <div class="errorMessage" >
                <% if (params.errCode == 1) { %>
                  <% if (params.methodType == 'createActivity'){ %>
                    <p> Activity successfully created. </p>
                  <% } else { %>
                    <script type='text/javascript'>
                      console.log("PATH IS " + window.location.pathname);
                      window.location.pathname = "/";
                      // window.location.reload(true);
                    </script>
                  <% } %>
                <% } %>
                </div>
              <% } %>
              <a href="" id="findActivityButton" data-role="button" data-theme="c" class="ui-btn ui-btn-corner-all ui-shadow ui-btn-active" data-transition="slide">
            <% } else { %>
              <a href="" id="findActivityButton" data-role="button" data-theme="c" class="ui-btn ui-btn-corner-all ui-shadow ui-btn-up-c" data-transition="slide">
            <% } %>
              <span class="ui-btn-inner ui-btn-corner-all">
                <span class="ui-btn-text">Find Activity</span>
              </span>
            </a>
            <!--Create Activity Button-->
            <% if(form.type === "find") { %>
              <a href="" id="createActivityButton" data-role="button" data-theme="c" class="ui-btn ui-btn-corner-all ui-shadow ui-btn-up-c" data-transition="slide">
            <% } else { %>
              <a href="" id="createActivityButton" data-role="button" data-theme="c" class="ui-btn ui-btn-corner-all ui-shadow ui-btn-active" data-transition="slide">
            <% } %>
              <span class="ui-btn-inner ui-btn-corner-all">
                <span class="ui-btn-text">Create Activity</span>
              </span>
            </a>
          </div>
        </center>
      </div>
      <% if(form.type === "create") { %>
        <!-- Error Section -->
        <div class="errorMessage" id="missingParams" >
          <p> You did not input all of the valid fields</p>
        </div>

        <!--Activity Name-->
        <div data-role="fieldcontain">
            <label for="activity_name">Activity Name: </label>
            <input type="text" name="name" id="activity_name" value=""  />
        </div>

        <!--Activity Description-->
        <label for="textarea-a">Activity Description: </label>
        <textarea name="textarea" id="activity_description" placeholder="Write a description of the activity you are thinking of..."></textarea>
      <% } %>

      <!-- Number of People -->
      <label>Number of Participants: </label>
      <div class="ui-grid-c my-breakpoint">
        <div class="ui-block-a">
          <label for="low_num_participants_<%= form.type; %>" class="grid_label">Min: </label>
        </div>
        <div class="ui-block-b">
          <input type="number" name="low_num_participants" id="low_num_participants_<%= form.type; %>" value="1" pattern="[0-9]*" min="1" max="9999999" onkeydown="limit(this, 1);" onkeyup="limit(this, 1);" />
        </div>
        <div class="ui-block-c">
          <label for="high_num_participants_<%= form.type; %>" class="grid_label">Max: </label>
        </div>
        <div class="ui-block-d">
          <input type="number" name="high_num_participants" id="high_num_participants_<%= form.type; %>" value="1" pattern="[0-9]*" min="1" max="9999999" onkeydown="limit(this, 1);" onkeyup="limit(this, 1);" />
        </div>
      </div>

      <!-- Date Range -->
      <div data-role="fieldcontain">
        <label for="begin_date_<%= form.type; %>">Start Date: </label>
        <input name="begin_date" id="begin_date_<%= form.type; %>" class="hide_readonly_effect" type="date" data-role="datebox" data-options='{"mode": "calbox", "useNewStyle": true, "useTodayButton": true}'>
      </div>
      <div data-role="fieldcontain">
        <label for="end_date_<%= form.type; %>">End Date: </label>
        <input name="end_date" id="end_date_<%= form.type; %>" class="hide_readonly_effect" type="date" data-role="datebox" data-options='{"mode": "calbox", "useNewStyle": true, "useTodayButton": true}'>
      </div>

      <!-- Time Range -->
      <center>
      <fieldset data-role="controlgroup" data-type="horizontal">
        <input type="radio" name="time_range_<%= form.type; %>" id="radio-view-a-<%= form.type; %>" value="startEnd" data-mini="true" checked="checked" />
        <label for="radio-view-a-<%= form.type; %>">
          <img src="/img/11-clock.png" width="20"><br />
          <span class="time-font">Set Time</span>
        </label>
        <input type="radio" name="time_range_<%= form.type; %>" id="radio-view-b-<%= form.type; %>" data-inline="true" data-mini="true" value="dayTime" />
        <label for="radio-view-b-<%= form.type; %>">
          <img src="/img/171-sun.png" width="20"><br />
          <span class="time-font">Day</span>
        </label>
        <input type="radio" name="time_range_<%= form.type; %>" id="radio-view-c-<%= form.type; %>" data-mini="true" value="nightTime" />
        <label for="radio-view-c-<%= form.type; %>">
          <img src="/img/126-moon.png" width="17"><br />
          <span class="time-font">Night</span>
        </label>
        <input type="radio" name="time_range_<%= form.type; %>" id="radio-view-d-<%= form.type; %>" data-mini="true" value="anyTime" />
        <label for="radio-view-d-<%= form.type; %>">
          <img src="/img/62-contrast.png" width="20"><br />
          <span class="time-font">Any Time</span>
        </label>
      </fieldset>
      </center>
      <div id="start_end_range_<%= form.type; %>">
        <div data-role="fieldcontain">
          <label for="start_time_<%= form.type; %>">Start Time: </label>
          <input name="start_time" id="start_time_<%= form.type; %>" class="hide_readonly_effect" type="date" data-role="datebox" data-options='{"mode": "timebox", "useNewStyle": true}'>
        </div>
        <div data-role="fieldcontain">
          <label for="end_time_<%= form.type; %>">End Time: </label>
          <input name="end_time" id="end_time_<%= form.type; %>" class="hide_readonly_effect" type="date" data-role="datebox" data-options='{"mode": "timebox", "useNewStyle": true}'>
        </div>
        <div data-role="fieldcontain">
          <label for="duration_<%= form.type; %>">Duration (Mins): </label>
          <input type="number" name="duration" id="duration_<%= form.type; %>" value="30" pattern="[0-9]*" min="1" max="9999999" onkeydown="limit(this, 1);" onkeyup="limit(this, 1);" />
        </div>
      </div>

      <!-- Price Range -->
      <label>Price Range (Dollars): </label>
      <div class="ui-grid-c my-breakpoint">
        <div class="ui-block-a">
          <label for="low_price_<%= form.type; %>" class="grid_label">Min: </label>
        </div>
        <div class="ui-block-b">
          <input type="number" name="low_price" id="min_price_<%= form.type; %>" value="1" pattern="[0-9]*" min="0" max="9999999" onkeydown="limit(this, 0);" onkeyup="limit(this, 0);" />
        </div>
        <div class="ui-block-c">
          <label for="max_price_<%= form.type; %>" class="grid_label">Max: </label>
        </div>
        <div class="ui-block-d">
          <input type="number" name="max_price" id="max_price_<%= form.type; %>" value="1" pattern="[0-9]*" min="0" max="9999999" onkeydown="limit(this, 0);" onkeyup="limit(this, 0);" />
        </div>
      </div>

      <!-- Location -->
      <div data-role="fieldcontain" class="location-div">
        <label for="location_input_<%= form.type; %>">Location: </label>
        <input id="location_input_<%= form.type; %>" name="location_input" type="text" placeholder="Starting Location" />
         <a id="loc_link_<%= form.type; %>" class="loclink" data-role="button" data-inline="true" data-icon="location-arrow" data-iconpos="notext" title="Get Current Location">Current Location</a>
      </div>
      <!-- Distance is only in the find activity view -->
      <% if(form.type === "find") { %>
        <div data-role="fieldcontain">
          <label for="distance_<%= form.type; %>">Distance (Miles): </label>
          <input type="number" name="distance" id="distance_<%= form.type; %>" value="1" pattern="[0-9]*" min="1" max="9999999" onkeydown="limit(this, 1);" onkeyup="limit(this, 1);" />
        </div>
      <% } %>

      <!-- Category -->
      <div data-role="fieldcontain">
        <label for="category_<%= form.type; %>" class="select">Category: </label>
        <select name="category" id="category_<%= form.type; %>">
           <option value="Sports">Sports</option>
           <option value="Food">Food</option>
           <option value="Entertainment">Entertainment</option>
           <option value="Arts">Arts</option>
           <option value="Nature">Nature</option>
        </select>
      </div>

      <!-- Submit Button -->
      <% if(form.type === "find") { %>
        <input id="find_activity_button" type="button" value="Find Activities" data-role="button" data-icon="home" data-theme="b">
      <% } %>
      <% if(form.type === "create") { %>
        <input id="create_activity_button" type="button" value="Create Activity" data-role="button" data-icon="home" data-theme="b">
      <% } %>
    </form>
  </div> <!-- End Content -->
</div><!-- End Page -->
