<% if(form.type === "find") { %>
  <!--Find Activity Page -->
  <div data-role="page" id="find_activity_page">
<% } %>
<% if(form.type === "create") { %>
  <!--Create Activity Page -->
  <div data-role="page" id="create_activity_page">
<% } %>

  <!--Navigation Bar-->
  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div data-role="header">
        <h1>
          Group Activity Planner
        </h1>
        <div data-type="horizontal" data-group="controlgroup" class="ui-btn-right">
          <% if (user) {%>
            <p>Welcome: <a href="/events/myevents"><%=user.givenName%> <%=user.familyName%></a>
            <a href="/logout" id="logout_button" target="_parent" type="submit" name="logout" value="Logout" data-inline="true" data-theme="a" data-role="button">Logout</a>

            <script type='text/javascript'>
              var userName = '<%= user.username %>';

              var href = document.location.protocol + document.location.hostname + ':8000';
              console.log('href =' + href);
              var socket = io.connect(href);
                var eventName = userName + 'InviteEvent';
                console.log("Listening for " + eventName);
                socket.on(eventName, function (data) {
                console.log("GOT THE EVENT:" + data);
              });
            </script>
          <% } else { %>
            <a href="/login" id="login_button" target="_parent" type="submit" name="login" value="Login" data-inline="true" data-theme="a" data-role="button">Login</a>
            <a href="/users/add" id="sign_up_button" target="_parent" type="submit" name="signup" value="Sign Up" data-inline="true" data-theme="a" data-role="button">Sign Up</a>
          <% } %>
        </div>
      </div>
    </div>
  </div>

<% if(form.type === "find") { %>
  <div id="find_activity" class="box" data-role="content">
<% } %>
<% if(form.type === "create") { %>
  <div id="create_activity" class="box" data-role="content">
<% } %>
    <div id="message_box" class="message"></div>
    <form>
      <div>
        <center>
          <div data-role="controlgroup" data-type="horizontal">
            <!--Find Activity Button-->
            <% if(form.type === "find") { %>
              <!-- display activity created successfully when redirected -->
              <% if (params.errCode){ %>
                <div class="errorMessage" >
                <% if (params.errCode == 1) { %>
                  <% if (params.methodType == 'createActivity'){ %>
                    <p> Activity successfully created. </p>
                  <% } else { %>
                    <script type='text/javascript'>
                      console.log("PATH IS " + window.location.pathname);
                      // window.location.reload(true);
                    </script>
                  <% } %>
                <% } %>
                </div>
              <% } %>
              <a href="/#find_activity_page" id="findActivityButton" data-role="button" data-theme="c" class="ui-btn ui-btn-corner-all ui-shadow ui-btn-active" data-transition="slide">
            <% } else { %>
              <a href="/#find_activity_page" id="findActivityButton" data-role="button" data-theme="c" class="ui-btn ui-btn-corner-all ui-shadow ui-btn-up-c" data-transition="slide">
            <% } %>
              <span class="ui-btn-inner ui-btn-corner-all">
                <span class="ui-btn-text">Find Activity</span>
              </span>
            </a>
            <!--Create Activity Button-->
            <% if(form.type === "find") { %>
              <a href="/#create_activity_page" id="createActivityButton" data-role="button" data-theme="c" class="ui-btn ui-btn-corner-all ui-shadow ui-btn-up-c" data-transition="slide">
            <% } else { %>
              <a href="/#create_activity_page" id="createActivityButton" data-role="button" data-theme="c" class="ui-btn ui-btn-corner-all ui-shadow ui-btn-active" data-transition="slide">
            <% } %>
              <span class="ui-btn-inner ui-btn-corner-all">
                <span class="ui-btn-text">Create Activity</span>
              </span>
            </a>
          </div>
        </center>
      </div>
      <% if(form.type === "create") { %>
        <!-- Error Section -->
        <div class="errorMessage" id="missingParams" >
          <p> You did not input all of the valid fields</p>
        </div>

        <!--Activity Name-->
        <div data-role="fieldcontain">
            <label for="activity_name">Activity Name: </label>
            <input type="text" name="name" id="activity_name" value=""  />
        </div>

        <!--Activity Description-->
        <label for="textarea-a">Activity Description: </label>
        <textarea name="textarea" id="activity_description" placeholder="Write a description of the activity you are thinking of..."></textarea>
      <% } %>

      <!-- Number of People -->
      <label>Number of Participants: </label>
      <div class="ui-grid-c my-breakpoint">
        <div class="ui-block-a">
          <label for="low_num_participants_<%= form.type; %>" class="grid_label">Min: </label>
        </div>
        <div class="ui-block-b">
          <input type="number" name="low_num_participants" id="low_num_participants_<%= form.type; %>" value="1" pattern="[0-9]*" min="0" max="9999999" />
        </div>
        <div class="ui-block-c">
          <label for="high_num_participants_<%= form.type; %>" class="grid_label">Max: </label>
        </div>
        <div class="ui-block-d">
          <input type="number" name="high_num_participants" id="high_num_participants_<%= form.type; %>" value="1" pattern="[0-9]*" min="0" max="9999999" />
        </div>
      </div>

      <!-- Date Range -->
      <div data-role="fieldcontain">
        <label for="begin_date_<%= form.type; %>">Start Date: </label>
        <input name="begin_date" id="begin_date_<%= form.type; %>" type="date" data-role="datebox" data-options='{"mode": "calbox", "useNewStyle": true, "useTodayButton": true}'>
      </div>
      <div data-role="fieldcontain">
        <label for="end_date_<%= form.type; %>">End Date: </label>
        <input name="end_date" id="end_date_<%= form.type; %>" type="date" data-role="datebox" data-options='{"mode": "calbox", "useNewStyle": true, "useTodayButton": true}'>
      </div>

      <!-- Time Range -->
      <center>
      <fieldset data-role="controlgroup" data-type="horizontal">
        <input type="radio" name="time_range_<%= form.type; %>" id="radio-view-a-<%= form.type; %>" value="startEnd" checked="checked" />
        <label for="radio-view-a-<%= form.type; %>">Set Time</label>
        <input type="radio" name="time_range_<%= form.type; %>" id="radio-view-b-<%= form.type; %>" value="dayTime" />
        <label for="radio-view-b-<%= form.type; %>">Day Time</label>
        <input type="radio" name="time_range_<%= form.type; %>" id="radio-view-c-<%= form.type; %>" value="nightTime" />
        <label for="radio-view-c-<%= form.type; %>">Night Time</label>
        <input type="radio" name="time_range_<%= form.type; %>" id="radio-view-d-<%= form.type; %>" value="anyTime" />
        <label for="radio-view-d-<%= form.type; %>">Any Time</label>
      </fieldset>
      </center>
      <div id="start_end_range_<%= form.type; %>">
        <div data-role="fieldcontain">
          <label for="start_time_<%= form.type; %>">Start Time: </label>
          <input name="start_time" id="start_time_<%= form.type; %>" type="date" data-role="datebox" data-options='{"mode": "timebox", "useNewStyle": true}'>
        </div>
        <div data-role="fieldcontain">
          <label for="end_time_<%= form.type; %>">End Time: </label>
          <input name="end_time" id="end_time_<%= form.type; %>" type="date" data-role="datebox" data-options='{"mode": "timebox", "useNewStyle": true}'>
        </div>
        <div data-role="fieldcontain">
          <label for="duration_<%= form.type; %>">Duration (Mins): </label>
          <input type="number" name="duration" id="duration_<%= form.type; %>" value="30" pattern="[0-9]*" min="0" max="9999999" />
        </div>
      </div>

      <!-- Price Range -->
      <label>Price Range (Dollars): </label>
      <div class="ui-grid-c my-breakpoint">
        <div class="ui-block-a">
          <label for="low_price_<%= form.type; %>" class="grid_label">Min: </label>
        </div>
        <div class="ui-block-b">
          <input type="number" name="low_price" id="min_price_<%= form.type; %>" value="1" pattern="[0-9]*" min="0" max="9999999" />
        </div>
        <div class="ui-block-c">
          <label for="max_price_<%= form.type; %>" class="grid_label">Max: </label>
        </div>
        <div class="ui-block-d">
          <input type="number" name="max_price" id="max_price_<%= form.type; %>" value="1" pattern="[0-9]*" min="0" max="9999999" />
        </div>
      </div>

      <!-- Location -->
      <div data-role="fieldcontain">
        <label for="location_input_<%= form.type; %>">Location: </label>
        <input id="location_input_<%= form.type; %>" name="location_input" type="text" placeholder="Starting Location" />
        <a id="loc_link_<%= form.type; %>" class="loclink" data-role="button" data-inline="true" data-icon="grid" data-iconpos="notext" title="Get Current Location">Current Location</a>
      </div>
      <!-- Distance is only in the find activity view -->
      <% if(form.type === "find") { %>
        <div data-role="fieldcontain">
          <label for="distance_<%= form.type; %>">Distance (Miles): </label>
          <input type="number" name="distance" id="distance_<%= form.type; %>" value="0" pattern="[0-9]*" min="0" max="999999999999" />
        </div>
      <% } %>

      <!-- Category -->
      <div data-role="fieldcontain">
        <label for="category_<%= form.type; %>" class="select">Category: </label>
        <select name="category" id="category_<%= form.type; %>">
           <option value="Sports">Sports</option>
           <option value="Food">Food</option>
           <option value="Entertainment">Entertainment</option>
           <option value="Arts">Arts</option>
           <option value="Nature">Nature</option>
        </select>
      </div>

      <!-- Submit Button -->
      <% if(form.type === "find") { %>
        <input id="find_activity_button" type="button" value="Find Activities" data-role="button" data-icon="home" data-theme="b">
      <% } %>
      <% if(form.type === "create") { %>
        <input id="create_activity_button" type="button" value="Create Activity" data-role="button" data-icon="home" data-theme="b">
      <% } %>
    </form>
  </div> <!-- End Content -->
</div><!-- End Page -->
