<div class="control-group">
  <label for="name" class="control-label">name</label>
  <div class="controls">
    <%- contentTag('input', activity.name, {type:'text', class:'span6', name:'name'}) %>
  </div>
</div>
<div class="control-group">
  <label for="description" class="control-label">description</label>
  <div class="controls">
    <%- contentTag('input', activity.description, {type:'text', class:'span6', name:'description'}) %>
  </div>
</div>
<div class="control-group">
  <label for="time1" class="control-label">time1</label>
  <div class="controls">
    1
  </div>
</div>
<div class="control-group">
  <label for="time2" class="control-label">time2</label>
  <div class="controls">
    2
  </div>
</div>
<div class="control-group">
  <label for="flag" class="control-label">flag</label>
  <div class="controls">
    <%- contentTag('input', activity.flag, {type:'text', class:'span6', name:'flag'}) %>
  </div>
</div>
<div class="control-group">
  <label for="beginDate" class="control-label">beginDate</label>
  <div class="controls">
    _date
  </div>
</div>
<div class="control-group">
  <label for="endDate" class="control-label">endDate</label>
  <div class="controls">
    _date
  </div>
</div>
<div class="control-group">
  <label for="lowPrice" class="control-label">lowPrice</label>
  <div class="controls">
    _price
  </div>
</div>
<div class="control-group">
  <label for="highPrice" class="control-label">highPrice</label>
  <div class="controls">
    _price
  </div>
</div>
<div class="control-group">
  <label for="lowNumParticipants" class="control-label">lowNumParticipants</label>
  <div class="controls">
    _num_participants
  </div>
</div>
<div class="control-group">
  <label for="highNumParticipants" class="control-label">highNumParticipants</label>
  <div class="controls">
    _num_participants
  </div>
</div>
<div class="control-group">
  <label for="latitude" class="control-label">latitude</label>
  <div class="controls">
    <%- contentTag('input', activity.latitude, {type:'number', class:'span2', name:'latitude'}) %>
  </div>
</div>
<div class="control-group">
  <label for="longitude" class="control-label">longitude</label>
  <div class="controls">
    <%- contentTag('input', activity.longitude, {type:'number', class:'span2', name:'longitude'}) %>
  </div>
</div>
